@charset "utf-8";

/*
***********************
global css
***********************
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{padding:0;margin:0; font-family:"Microsoft YaHei",tahoma,arial,Hiragino Sans GB,\5b8b\4f53," SimSun "; list-style-type:none; -webkit-font-smoothing: antialiased;}
body,button,input,select,textarea{font:14px/1.5}
table{border-collapse:collapse;border-spacing:0;font-size: inherit;font:100%;}
caption,th{text-align:left;}
fieldset,img{border:none;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,button,textarea,select{font-family: inherit;font-size: inherit;font-weight: inherit;vertical-align:middle;*font-size:100%;}
address,caption,cite,code,dfn,em,i,b,strong,th,var,optgroup{font-style:normal;font-weight:normal;}
small{font-size:100%;}
hr{color:#D1D7DC;background-color:#D1D7DC;border:none;height:1px;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
b{ font-weight: 600;}
img{vertical-align: middle;}
iframe{ display: block; background: #FFFFFF}
form{ display: block}
.hackbox{ clear: both}
.sys-container *{ box-sizing: border-box;}

/* h2 normal */
	/* grid表头高度 x+16 */
	.el-table th>.cell{ height: 34px; line-height: 34px;}
	/* tree 一级 */
	.el-tree>.el-tree-node>.el-tree-node__content>.el-tree-node__label{ font-size:16px}
	.el-tree>.el-tree-node>.el-tree-node__children>.el-tree-node>.el-tree-node__content>.el-tree-node__label{ font-size:16px}
	/* el-dialog */
	.el-dialog__title{ font-size: 16px; line-height: 22px;}
/* h3 normal */
	/* tree 二级 */
	.el-tree>.el-tree-node>.el-tree-node__children>.el-tree-node>.el-tree-node__children>.el-tree-node .el-tree-node__content .el-tree-node__label{
		font-size:14px;
	}









/* @media screen and (max-width: 1599px) { */
	/* FONT SIZE */
	h1,.h1{ font-size: 20px}/*预留字*/
	h2,.h2,.h2.el-table--small,.el-tabs__header{ font-size: 16px}/*特级标题*/
	h3,.h3{ font-size: 14px}/*一级标题*/
	h4,.h4{ font-size: 14px}/*二级标题*/
	h5,.h5{ font-size: 12px}/*内容*/
	h6,.h6{ font-size:12px; color: #AAA}

	/* guter */
	.layout>.el-row{ margin-left: -8px!important; margin-right: -8px!important; margin-bottom: 8px!important;}
	.layout>.el-row>.el-col{ padding-left: 8px!important; padding-right: 8px!important;}
	/* BREADCRUMB */
	.el-breadcrumb{ margin-top:10px; margin-bottom: 8px; font-size:12px}
	/* TAB */
	.cotabs>.el-tabs__header>.el-tabs__nav-wrap>.el-tabs__nav-scroll>.el-tabs__nav>.el-tabs__item{ padding: 0 18px}
	.cotabs>.el-tabs__header>.el-tabs__nav-wrap>.el-tabs__nav-scroll>.el-tabs__nav>.el-tabs__item.is-top:nth-child(2){ padding-left: 18px!important}
	.cotabs>.el-tabs__header>.el-tabs__nav-wrap>.el-tabs__nav-scroll>.el-tabs__nav>.el-tabs__item.is-top:last-child{ padding-right:18px!important}
	.cotabs>.el-tabs__header>.el-tabs__nav-wrap>.el-tabs__nav-scroll>.el-tabs__nav>.el-tabs__active-bar{ padding: 0 18px; margin-left: -18px}
	.cotabs>.el-tabs__header>.el-tabs__nav-wrap>.el-tabs__nav-scroll>.el-tabs__nav>.el-tabs__item.is-active:after{ padding: 0 18px;margin-left: -18px;}

	/* FORM */
	.searchBar .formItem{ margin-right: 6px;}
	.searchBar>div:last-child.coL>.formItem:last-child{ margin-right: 0;}
	/* width/1020=% */
	.searchBar .formItem{ min-width: 123px; max-width: 180px; width: 11%; }
	.formItem.bw{ min-width: 160px; max-width: 230px; width: 14%; }
	.formItem.tw{ min-width: 280px; max-width: 290px; width: 26%; }
	.formItem.bd{ min-width: 250px; max-width: 250px}
	.formItem.td{ min-width: 360px; max-width: 420px; width: 34%; }


	.inside .formItem{ min-width: 150px; max-width: 260px; width: 25%;}
	.inside .formItem.btnGroup .el-button{ padding:11px 20px}
	.inside .formItem.bd{ min-width: 300px; max-width: 300px; width: 35%;}
	.searchBarInside .formItem.td{ min-width: 360px; max-width: 420px; width: 25%; }

	/* INFO */
	.info>.hflex{ border-right: 1px solid #e1e3e7; border-top:1px solid #e1e3e7!important; border-bottom: 1px solid #e1e3e7;}
	.info>.hflex>.formItem{ border-left: 1px solid #e1e3e7; border-radius: 0; padding:0}
	.info>.hflex>.formItem>.itemText{ padding: 6px 10px; background: #f1f3f6; flex-basis: auto; width: 90px; display: inline-block; text-align: center; height: 46px; border-right: 1px solid #e1e3e7;}
	.info>.hflex>.formItem>.itemInput{ padding: 6px 10px}
	.info>.hflex:first-child{ border-top:1px solid #e1e3e7!important; border-bottom: none;}

	.pagepadding{ padding-left: 24px; padding-right:24px;}


/* } */

@media screen and (max-width: 1599px) {
	/* CONTAINER */
	.sys-container>.el-container>.el-header{ height:40px!important}
	.body-container>.el-container>.layout{ padding: 10px 20px 16px 20px }
	/* layout */
	.el-header{ padding: 0 20px }
	/* home powerstation */
	.layout.powerstation>.baselayout>.el-row{ flex-direction: column;}
	.layout.powerstation>.baselayout>.el-row>.el-col{ width: 100%;}
	/* .layout.powerstation>.baselayout>.el-row>.el-col:first-child{ margin-bottom: 16px;} */
	.layout.powerstation>.baselayout>.el-row>.el-col.el-col-8{ flex-direction: row;}
	.layout.powerstation>.baselayout>.el-row>.el-col.el-col-8>.el-row{ width: 50%;}
	.layout.powerstation>.baselayout>.el-row>.el-col.el-col-8>.el-row:first-child{ padding-right: 8px;}
	.layout.powerstation>.baselayout>.el-row>.el-col.el-col-8>.el-row:last-child{ padding-left: 8px;}
	/* bug fix safari和ie下布局错乱 */
	.layout.powerstation>.baselayout>.el-row>.el-col.el-col-16{ flex-shrink: 0}
	.layout.powerstation>.baselayout>.el-row>.el-col.el-col-8{ flex-shrink: 0}
}
@media screen and (min-width: 1600px) {
	/* container */
	.sys-container>.el-container>.el-header{ height:40px!important}
	.body-container>.el-container>.layout{ padding: 10px 30px 16px 30px }
	/* layout */
	.el-header{ padding: 0 30px }
	/* home powerstation */
}


/* 滚动条样式 */
.el-scrollbar__thumb{ background-color: rgba(227,233,240,0.4);}


.scroll::-webkit-scrollbar{ background: #FFF; box-shadow: none; border-radius: 0;}
.scroll::-webkit-scrollbar-thumb{ border-radius: 6px; background: rgba(227,233,240,1);}
.scroll::-webkit-scrollbar-track{ box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); border-radius: 0px; background: #FFF;box-shadow: none; border-radius: 0;}

.deviceRealTimeMonitoring>.el-tabs__content::-webkit-scrollbar{ background: rgba(0,0,0,0.1); box-shadow: none; border-radius: 0;}
.deviceRealTimeMonitoring>.el-tabs__content::-webkit-scrollbar-thumb{ border-radius: 6px; background: rgba(227,233,240,1);}
.deviceRealTimeMonitoring>.el-tabs__content::-webkit-scrollbar-track{ box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); border-radius: 0px; background: #FFF;box-shadow: none; border-radius: 0;}

.el-dialog__wrapper::-webkit-scrollbar{ background: rgba(0,0,0,0.1); box-shadow: none; border-radius: 0;}
.el-dialog__wrapper::-webkit-scrollbar-thumb{ border-radius: 6px; background: rgba(227,233,240,1);}
.el-dialog__wrapper::-webkit-scrollbar-track{ box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); border-radius: 0px; background: rgba(0,0,0,0.1);box-shadow: none; border-radius: 0;}


.bg-white{ background-color: #FFFFFF;}

html,body,#app{ height: 100%; margin: 0; padding: 0;}
.el-table__body-wrapper{ overflow: scroll!important}/* 目前算法中必须要执行 */
.co-scrollbar-x,.co-scrollbar-y{ position: absolute; background: rgba(0,0,0,0); z-index: 5; transition: all 0.1s}
.co-scrollbar-x{ left:0; bottom:0; width: 100%; height: 6px}
.co-scrollbar-y{ bottom:0; right:0; height: 100%; width: 6px}
.el-table .thumb{ background:rgba(0,0,0,0); position: relative; border-radius: 10px; transition: background 0.3s;}
.co-scrollbar-x>.thumb{ height:100%}
.co-scrollbar-y>.thumb{ width:100%}
.el-table:hover .thumb{ background:rgba(0,0,0,0.2);}
.co-scrollbar-x>.thumb:hover,.co-scrollbar-y>.thumb:hover{ background:rgba(0,0,0,0.5);}
.el-table:active .thumb{ background:rgba(0,0,0,0.2); }
.co-scrollbar-x>.thumb:active,.co-scrollbar-y>.thumb:active{ background:rgba(0,0,0,0.5);}
.wrap_bodyWrapper{ overflow: hidden }/* 删除footer下会不正常 */
.el-table td.gutter, .el-table th.gutter{ display: none;}/*表头右边的空白*/
/* 滚动条是否需要显示2.0 */
.co-scrollbar-x,.co-scrollbar-y{ display: none;}
.el-table--scrollable-x .co-scrollbar-x{ display: block;}
.el-table--scrollable-y .co-scrollbar-y{ display: block;}
/* 左右侧固定列,让固定列的投影在滚动到最左或最右时隐藏 */
.el-table .is-scrolling-left ~ .el-table__fixed, 
.el-table .is-scrolling-none ~ .el-table__fixed, 
.el-table .is-scrolling-none ~ .el-table__fixed-right,
.el-table .is-scrolling-right ~ .el-table__fixed-right { -webkit-box-shadow: none; box-shadow: none}

/* 操作时变粗 */
.co-scrollbar-y:hover,.co-scrollbar-y:active{ width: 10px}
.co-scrollbar-x:hover,.co-scrollbar-x:active{ height: 10px}
/* 带有footer时显示不完整 */
.el-table__fixed-body-wrapper{ bottom: 0!important;}
.el-table__fixed-footer-wrapper{ display: none;}
.el-table__fixed-right::before, .el-table__fixed::before{ display: none;}
.el-table__footer-wrapper{ z-index: 5; position: relative;}

