@charset "UTF-8";
/* Element Chalk Variables */
/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* line 7, ../../../../cotheme/sass/theme_sass.scss */
.co-rect:before {
  border-top: 8px solid #46a6ff;
  border-bottom: 8px solid #46a6ff;
}

/* line 9, ../../../../cotheme/sass/theme_sass.scss */
.onlyicon .el-button--primary:focus, .onlyicon .el-button--primary:hover {
  background: #46a6ff;
}

/* line 11, ../../../../cotheme/sass/theme_sass.scss */
.powerFav.on {
  color: #46a6ff;
}

/* line 13, ../../../../cotheme/sass/theme_sass.scss */
.el-textarea__inner:focus {
  border-color: #46a6ff;
}

/* line 18, ../../../../cotheme/sass/theme_sass.scss */
.gradecause {
  border: 1px solid #46a6ff;
  color: #46a6ff !important;
}

/* line 19, ../../../../cotheme/sass/theme_sass.scss */
.el-tree .is-current > .el-tree-node__content > .el-tree-node__label {
  color: #46a6ff !important;
}

/* line 20, ../../../../cotheme/sass/theme_sass.scss */
.custom-tree-node .el-link.is-underline:hover > .el-link--inner:after {
  border-color: #46a6ff;
}

/* line 21, ../../../../cotheme/sass/theme_sass.scss */
.spacetree .custom-tree-node .el-link {
  color: #46a6ff;
}

/* line 22, ../../../../cotheme/sass/theme_sass.scss */
.spacetree .el-tree-node__content:hover, .spacetree .el-tree-node:focus > .el-tree-node__content {
  color: #46a6ff;
}

/* line 24, ../../../../cotheme/sass/theme_sass.scss */
.spacetree .custom-tree-node .el-link:hover {
  color: #46a6ff;
}

/* line 25, ../../../../cotheme/sass/theme_sass.scss */
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: #46a6ff;
}

/* line 26, ../../../../cotheme/sass/theme_sass.scss */
.el-pagination.is-background .btn-next:not(disabled):hover, .el-pagination.is-background .btn-prev:not(disabled):hover {
  color: #46a6ff;
  border-color: #46a6ff;
}

/* line 27, ../../../../cotheme/sass/theme_sass.scss */
.el-pagination.is-background .el-pager li:not(.disabled).active {
  box-shadow: 0 2px 8px 0 rgba(24, 144, 255, 0.1);
}

/* line 30, ../../../../cotheme/sass/theme_sass.scss */
.el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link:hover {
  color: #46a6ff;
}

/* line 31, ../../../../cotheme/sass/theme_sass.scss */
.cotabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item:hover {
  color: #46a6ff;
}

/* line 32, ../../../../cotheme/sass/theme_sass.scss */
.cotabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item:active {
  color: #46a6ff;
  background-color: rgba(24, 144, 255, 0.1);
}

/* line 33, ../../../../cotheme/sass/theme_sass.scss */
.cotabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__active-bar {
  background: #46a6ff;
}

/* line 34, ../../../../cotheme/sass/theme_sass.scss */
.el-tabs__item:hover, .el-tabs__item.is-active {
  color: #46a6ff;
}

/* line 35, ../../../../cotheme/sass/theme_sass.scss */
.cotabs .tapTip > .el-tooltip__popper {
  background: #46a6ff;
}

/* line 36, ../../../../cotheme/sass/theme_sass.scss */
.cotabs .tapTip > .el-tooltip__popper > .popper__arrow {
  border-right-color: #46a6ff;
}

/* line 37, ../../../../cotheme/sass/theme_sass.scss */
.cotabs .tapTip > .el-tooltip__popper > .popper__arrow:after {
  border-right-color: #46a6ff;
}

/* line 38, ../../../../cotheme/sass/theme_sass.scss */
.cotabnormal .el-tabs__active-bar {
  background: #46a6ff;
}

/* line 39, ../../../../cotheme/sass/theme_sass.scss */
.cotabnormal .el-tabs__nav > .el-tabs__item.is-active {
  border-color: #46a6ff;
}

/* line 40, ../../../../cotheme/sass/theme_sass.scss */
.cotabnormal .el-tabs__nav > .el-tabs__item.is-active + .el-tabs__item {
  border-left: 1px solid #46a6ff;
}

/* line 41, ../../../../cotheme/sass/theme_sass.scss */
.el-select-dropdown__item.selected {
  color: #46a6ff !important;
}

/* line 42, ../../../../cotheme/sass/theme_sass.scss */
.el-checkbox__inner:hover {
  border-color: #46a6ff;
}

/* checkbox */
/* line 44, ../../../../cotheme/sass/theme_sass.scss */
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #46a6ff;
  border-color: #46a6ff;
}

/* line 46, ../../../../cotheme/sass/theme_sass.scss */
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #46a6ff;
}

/* line 47, ../../../../cotheme/sass/theme_sass.scss */
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #46a6ff;
}

/* 日期选择修改 */
/* line 49, ../../../../cotheme/sass/theme_sass.scss */
.el-date-table td.end-date span, .el-date-table td.start-date span {
  background: #46a6ff;
}

/* line 50, ../../../../cotheme/sass/theme_sass.scss */
.el-date-table td.today span, .el-date-table td.available:hover {
  color: #46a6ff;
}

/* line 51, ../../../../cotheme/sass/theme_sass.scss */
.el-picker-panel__icon-btn:hover {
  color: #46a6ff;
}

/* line 52, ../../../../cotheme/sass/theme_sass.scss */
.el-date-table td.current:not(.disabled) span {
  background-color: #46a6ff;
}

/* 下拉框修改 */
/* line 54, ../../../../cotheme/sass/theme_sass.scss */
.el-select .el-input.is-focus .el-input__inner, .el-select .el-input__inner:focus, .el-input .el-input.is-focus .el-input__inner, .el-input .el-input__inner:focus, .el-range-editor.is-active, .el-range-editor.is-active:hover {
  border-color: #46a6ff;
}

/* line 55, ../../../../cotheme/sass/theme_sass.scss */
.el-select:hover .el-input__inner {
  border-color: #46a6ff;
}

/* line 56, ../../../../cotheme/sass/theme_sass.scss */
.el-button:hover {
  border-color: #46a6ff;
  color: #FFF;
  background-color: #46a6ff;
}

/* line 57, ../../../../cotheme/sass/theme_sass.scss */
.el-button.line,
.el-button.line:focus {
  border-color: #46a6ff;
  color: #46a6ff;
  background: #FFFFFF;
}

/* line 59, ../../../../cotheme/sass/theme_sass.scss */
.el-button.line:hover {
  border-color: #46a6ff;
  background: #46a6ff;
}

/* line 60, ../../../../cotheme/sass/theme_sass.scss */
.el-button--primary {
  border-color: #46a6ff;
  background: #46a6ff;
}

/* line 61, ../../../../cotheme/sass/theme_sass.scss */
.el-button.is-plain:hover {
  border-color: #46a6ff;
  background-color: #46a6ff;
}

/* line 62, ../../../../cotheme/sass/theme_sass.scss */
.el-button.is-plain:focus {
  color: #46a6ff;
}

/* line 63, ../../../../cotheme/sass/theme_sass.scss */
.linkToTap.el-link--primary {
  color: #46a6ff;
}

/* line 64, ../../../../cotheme/sass/theme_sass.scss */
.linkToTap.el-link:hover > .el-link--inner {
  color: #46a6ff;
}

/* line 65, ../../../../cotheme/sass/theme_sass.scss */
.linkToTap.el-link--primary:after {
  background-color: #46a6ff;
}

/* line 66, ../../../../cotheme/sass/theme_sass.scss */
.linkToTap.el-link--primary:hover:after {
  background-color: #46a6ff;
}

/* line 67, ../../../../cotheme/sass/theme_sass.scss */
.el-dialog__title:before {
  border-top: 8px solid #46a6ff;
  border-bottom: 8px solid #46a6ff;
}

/* line 68, ../../../../cotheme/sass/theme_sass.scss */
.powerFav.off {
  color: rgba(24, 144, 255, 0.5);
}

/*蓝色链接*/
/* line 74, ../../../../cotheme/sass/theme_sass.scss */
.tool .el-link.el-link--primary {
  color: #1890ff;
}

/* line 75, ../../../../cotheme/sass/theme_sass.scss */
.tool .el-link.el-link--primary:hover {
  color: #1890ff;
}

/* line 76, ../../../../cotheme/sass/theme_sass.scss */
.el-table .el-link.el-link--primary,
.el-table .el-link.el-link--primary:hover {
  color: #1890ff;
}

/* line 79, ../../../../cotheme/sass/theme_sass.scss */
.iconb {
  color: rgba(24, 144, 255, 0.8) !important;
}

/* line 80, ../../../../cotheme/sass/theme_sass.scss */
.iconb:hover {
  background: rgba(24, 144, 255, 0.8) !important;
}

/* line 81, ../../../../cotheme/sass/theme_sass.scss */
.el-date-range-picker .el-button--text:focus, .el-date-range-picker .el-button--text:hover {
  color: rgba(24, 144, 255, 0.8);
}

/* 橙色-浅色 */
/* line 97, ../../../../cotheme/sass/theme_sass.scss */
.el-tree-node__content:hover, .el-tree-node:focus > .el-tree-node__content {
  background-color: #edf6ff;
}

/* line 98, ../../../../cotheme/sass/theme_sass.scss */
.el-tree > .el-tree-node.is-expanded > .el-tree-node__content {
  background: #edf6ff;
}

/* line 99, ../../../../cotheme/sass/theme_sass.scss */
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: #edf6ff;
}

/* 日期选择修改 */
/* line 101, ../../../../cotheme/sass/theme_sass.scss */
.el-date-table td.in-range div {
  background: #edf6ff;
}

/* line 102, ../../../../cotheme/sass/theme_sass.scss */
.el-date-table td.in-range div:hover {
  background: #edf6ff;
}

/* 文字-主色 */
/* line 107, ../../../../cotheme/sass/theme_sass.scss */
html, body {
  color: #636F80;
}

/* line 108, ../../../../cotheme/sass/theme_sass.scss */
.el-pagination {
  color: #636F80;
}

/* line 109, ../../../../cotheme/sass/theme_sass.scss */
.el-table, .el-dialog__body, .el-form-item__label {
  color: #636F80;
}

/* line 110, ../../../../cotheme/sass/theme_sass.scss */
.sbitem {
  color: #636F80;
}

/* line 111, ../../../../cotheme/sass/theme_sass.scss */
.cotable {
  color: #636F80;
}

/* line 112, ../../../../cotheme/sass/theme_sass.scss */
.info .formItem > .itemText {
  color: #636F80;
}

/* line 113, ../../../../cotheme/sass/theme_sass.scss */
.info .formItem > .itemInput {
  color: #636F80;
}

/* line 114, ../../../../cotheme/sass/theme_sass.scss */
.el-button:focus {
  color: #636F80;
}

/* line 116, ../../../../cotheme/sass/theme_sass.scss */
.el-link.is-underline:hover > .el-link--inner:after {
  border-bottom: 1px solid #1890ff;
}

/* line 118, ../../../../cotheme/sass/theme_sass.scss */
.el-date-editor .el-range-separator {
  color: #636F80;
}

/* 文字主色浅70% */
/* line 121, ../../../../cotheme/sass/theme_sass.scss */
.el-dialog__title {
  color: #929aa6;
}

/* line 122, ../../../../cotheme/sass/theme_sass.scss */
legend {
  color: #929aa6;
}

/* line 123, ../../../../cotheme/sass/theme_sass.scss */
.el-table thead {
  color: #929aa6;
}

/* line 124, ../../../../cotheme/sass/theme_sass.scss */
.el-button--text:focus, .el-button--text:hover {
  color: #929aa6;
}

/* line 125, ../../../../cotheme/sass/theme_sass.scss */
.cotabs > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav > .el-tabs__item {
  color: #929aa6;
}

/* line 126, ../../../../cotheme/sass/theme_sass.scss */
.formItem > .itemText {
  color: #929aa6;
}

/* line 127, ../../../../cotheme/sass/theme_sass.scss */
.el-link {
  color: #929aa6;
}

/* line 128, ../../../../cotheme/sass/theme_sass.scss */
.el-link.el-link--default:hover {
  color: #929aa6;
}

/* line 134, ../../../../cotheme/sass/theme_sass.scss */
.el-button--primary:focus, .el-button--primary:hover {
  border-color: #59afff;
  background: #59afff;
}

/* line 136, ../../../../cotheme/sass/theme_sass.scss */
.el-button:active {
  border-color: #3f95e6;
  background-color: #3f95e6;
}

/* line 137, ../../../../cotheme/sass/theme_sass.scss */
.el-button--primary:active {
  border-color: #3f95e6;
  background: #3f95e6;
}

/* 禁用 */
/* line 139, ../../../../cotheme/sass/theme_sass.scss */
.el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
  border-color: #b5dbff;
  background: #b5dbff;
}

/* line 141, ../../../../cotheme/sass/theme_sass.scss */
.el-button.is-plain:focus {
  border-color: #b5dbff;
}

/* line 142, ../../../../cotheme/sass/theme_sass.scss */
.el-button--danger:focus, .el-button--danger:hover {
  background: #3f95e6;
}

/* line 143, ../../../../cotheme/sass/theme_sass.scss */
.el-button--danger:active {
  background: #3f95e6;
}

/* line 148, ../../../../cotheme/sass/theme_sass.scss */
.el-menu-item.is-active {
  color: #3f95e6;
}

/* line 149, ../../../../cotheme/sass/theme_sass.scss */
.cus-title {
  color: #929aa6;
  font-weight: 600;
  padding: 10px 0 4px 0;
}

/* line 151, ../../../../cotheme/sass/theme_sass.scss */
fieldset {
  background: rgba(238, 238, 238, 0);
  border-color: #e0e2e6;
}

/* form禁用 */
/* line 154, ../../../../cotheme/sass/theme_sass.scss */
.el-input.is-disabled .el-input__inner,
.el-textarea.is-disabled .el-textarea__inner {
  background-color: #f7f8f9;
}

/* line 157, ../../../../cotheme/sass/theme_sass.scss */
.el-textarea.is-disabled .el-textarea__inner {
  border-color: #e0e2e6;
}

/* line 160, ../../../../cotheme/sass/theme_sass.scss */
.sys-container > .el-container > .el-main {
  background-color: #eceff2;
}

/* line 161, ../../../../cotheme/sass/theme_sass.scss */
.wincontainer > .el-aside {
  border: 1px solid #e0e2e6;
}

/* line 162, ../../../../cotheme/sass/theme_sass.scss */
.wincontainer > .el-container {
  border: 1px solid #e0e2e6;
}

/* line 163, ../../../../cotheme/sass/theme_sass.scss */
.row-bg {
  background-color: #f7f8f9;
}

/* line 164, ../../../../cotheme/sass/theme_sass.scss */
.el-table th, .el-table__fixed-right-patch {
  background: #f7f8f9 !important;
}

/* line 165, ../../../../cotheme/sass/theme_sass.scss */
.el-table__body tr.hover-row > td, .el-table tr:hover, .el-table--enable-row-hover .el-table__body tr:hover > td {
  background: #fbfcfc !important;
}

/* line 167, ../../../../cotheme/sass/theme_sass.scss */
.el-table td, .el-table th.is-leaf {
  border-color: #e0e2e6;
}

/* line 168, ../../../../cotheme/sass/theme_sass.scss */
.el-card__header > .co-rect {
  color: #929aa6;
  font-size: 14px;
}

/* line 169, ../../../../cotheme/sass/theme_sass.scss */
.simucardhead {
  color: #929aa6;
}

/* line 170, ../../../../cotheme/sass/theme_sass.scss */
.centerLine > .el-card__body:before {
  background: #e0e2e6;
}

/* line 171, ../../../../cotheme/sass/theme_sass.scss */
.el-tree-node.is-current.is-expanded > .el-tree-node__content {
  color: #46a6ff;
}

/* line 172, ../../../../cotheme/sass/theme_sass.scss */
.el-checkbox.is-checked + .el-tree-node__label {
  color: #46a6ff;
}

/* line 174, ../../../../cotheme/sass/theme_sass.scss */
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  color: #929aa6;
}

/* line 175, ../../../../cotheme/sass/theme_sass.scss */
.el-breadcrumb__inner {
  color: #929aa6;
}

/* line 176, ../../../../cotheme/sass/theme_sass.scss */
.el-breadcrumb__separator {
  color: #929aa6;
}

/* line 177, ../../../../cotheme/sass/theme_sass.scss */
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #929aa6;
}

/* line 179, ../../../../cotheme/sass/theme_sass.scss */
.cotabs > .el-tabs__header {
  background: #fbfcfc;
}

/* line 180, ../../../../cotheme/sass/theme_sass.scss */
.cotabnormal .el-tabs__nav > .el-tabs__item {
  border-color: #e0e2e6;
}

/* line 181, ../../../../cotheme/sass/theme_sass.scss */
.cotable .name {
  background: #eceff2;
}

/* line 182, ../../../../cotheme/sass/theme_sass.scss */
.cotable .value {
  background: #f7f8f9;
}

/* line 183, ../../../../cotheme/sass/theme_sass.scss */
.searchBarInside .formItem > .itemInput {
  border: 1px solid #e0e2e6;
}

/* line 184, ../../../../cotheme/sass/theme_sass.scss */
.searchBarFormInside .formItem > .itemInput {
  border: 1px solid #e0e2e6;
}

/* line 185, ../../../../cotheme/sass/theme_sass.scss */
.formItem {
  border: 1px solid #e0e2e6;
}

/* line 187, ../../../../cotheme/sass/theme_sass.scss */
.el-button:focus {
  border-color: #e0e2e6;
}

/* line 188, ../../../../cotheme/sass/theme_sass.scss */
.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  border-color: #b5dbff;
  background: #fafdff;
  color: #b5dbff;
}

/* line 191, ../../../../cotheme/sass/theme_sass.scss */
.el-button.line:active {
  border-color: #3f95e6;
  background: #3f95e6;
  color: #FFFFFF;
}

/* line 192, ../../../../cotheme/sass/theme_sass.scss */
.el-button.line.is-disabled,
.el-button.line.is-disabled:focus,
.el-button.line.is-disabled:hover {
  border-color: #b5dbff;
  background: #fafdff;
  color: #b5dbff;
}

/* line 196, ../../../../cotheme/sass/theme_sass.scss */
.el-button.is-plain:active {
  border-color: #3f95e6;
  background: #3f95e6;
}

/* line 198, ../../../../cotheme/sass/theme_sass.scss */
.el-date-range-picker .el-button--text {
  color: #636F80;
}

/* line 200, ../../../../cotheme/sass/theme_sass.scss */
.coAside > .user {
  background: #426281;
}

/* line 201, ../../../../cotheme/sass/theme_sass.scss */
.user > .related > .onlyicon {
  background: rgba(92, 124, 161, 0.8);
}

/* line 202, ../../../../cotheme/sass/theme_sass.scss */
.navMenu .el-submenu__title:hover {
  color: #3f95e6;
}

/* line 203, ../../../../cotheme/sass/theme_sass.scss */
.info > .hflex {
  border-top: 1px solid #e0e2e6;
}

/* line 204, ../../../../cotheme/sass/theme_sass.scss */
.el-dialog .el-table__empty-block {
  border-bottom: 1px solid #e0e2e6;
}

/* line 205, ../../../../cotheme/sass/theme_sass.scss */
.chartbox {
  border: 1px solid #e0e2e6;
}

/* line 206, ../../../../cotheme/sass/theme_sass.scss */
.permissionConfiguration .el-table__row--level-1 {
  background-color: #f7f8f9;
}

/* line 207, ../../../../cotheme/sass/theme_sass.scss */
.permissionConfiguration .el-table .el-table__row--level-1:hover {
  background: #f7f8f9 !important;
}

/* line 208, ../../../../cotheme/sass/theme_sass.scss */
.permissionConfiguration .el-table .el-table__row--level-1:hover > td {
  background: #f7f8f9 !important;
}

/* line 209, ../../../../cotheme/sass/theme_sass.scss */
.navMenu .el-submenu .el-menu {
  background: rgba(24, 144, 255, 0.1);
}

/* line 210, ../../../../cotheme/sass/theme_sass.scss */
.navMenu .el-menu-item:focus, .navMenu .el-menu-item:hover {
  color: #3f95e6;
}

/* line 213, ../../../../cotheme/sass/theme_sass.scss */
.coHr:before {
  background: #f7f8f9;
}

/* line 214, ../../../../cotheme/sass/theme_sass.scss */
.coHr:after {
  background: #e0e2e6;
}

/* 状态 */
/* line 225, ../../../../cotheme/sass/theme_sass.scss */
.green {
  color: #19CD19 !important;
}

/* line 226, ../../../../cotheme/sass/theme_sass.scss */
.el-link.green > .el-link--inner:after {
  border-bottom-color: #19CD19 !important;
}

/* line 227, ../../../../cotheme/sass/theme_sass.scss */
.orange {
  color: #FFC909 !important;
}

/* line 228, ../../../../cotheme/sass/theme_sass.scss */
.el-link.orange > .el-link--inner:after {
  border-bottom-color: #FFC909 !important;
}

/* line 229, ../../../../cotheme/sass/theme_sass.scss */
.red {
  color: #FF5032 !important;
}

/* line 230, ../../../../cotheme/sass/theme_sass.scss */
.el-link.red > .el-link--inner:after {
  border-bottom-color: #FF5032 !important;
}

/* line 231, ../../../../cotheme/sass/theme_sass.scss */
.gray {
  color: #B9BEC6 !important;
}

/* line 232, ../../../../cotheme/sass/theme_sass.scss */
.el-link.gray > .el-link--inner:after {
  border-bottom-color: #B9BEC6 !important;
}

/* line 233, ../../../../cotheme/sass/theme_sass.scss */
.state1:before {
  background: #19CD19;
}

/* line 234, ../../../../cotheme/sass/theme_sass.scss */
.state1:after {
  background: #47d747;
}

/* line 235, ../../../../cotheme/sass/theme_sass.scss */
.state3:before {
  background: #FFC909;
}

/* line 236, ../../../../cotheme/sass/theme_sass.scss */
.state3:after {
  background: #ffd43a;
}

/* line 238, ../../../../cotheme/sass/theme_sass.scss */
.state4:before {
  background: #B9BEC6;
}

/* line 244, ../../../../cotheme/sass/theme_sass.scss */
.sbitem > div {
  background-color: #fbfcfc;
  box-shadow: 0 1px 4px rgba(6, 21, 43, 0.14) inset;
}

/* line 245, ../../../../cotheme/sass/theme_sass.scss */
.sbitem > div > .sb {
  color: rgba(99, 111, 128, 0.7);
  background: rgba(236, 240, 244, 0.6);
}

/* 橙色-渐变 */
/* line 250, ../../../../cotheme/sass/theme_sass.scss */
.el-button--danger {
  background-image: linear-gradient(90deg, #1890FF 0%, #60b2ff 100%);
}

/* line 251, ../../../../cotheme/sass/theme_sass.scss */
.navMenu .el-submenu__title:focus, .navMenu > .el-submenu.is-opened > .el-submenu__title {
  background-image: linear-gradient(90deg, #1890FF 0%, #60b2ff 100%);
}
